*, *::after, *::before {box-sizing: border-box;}

/* Declaração de varáveis para a paleta de cores */
:root {
    --cor-titulo: #4D4D4D;
    --cor-texto: #333;
    --cor-escura: #000;
    --cor-clara: #fff;
    --cor-intermediaria: #ececec;
}

/* Reset em alguns elementos usados neste projeto. Pode ser feito o reset geral usando somente o "*" */
body, h1, h2, p, figure, .links-menu {
    margin: 0;
    padding: 0;
    list-style: none; /* removendo marcadores da lista ul */
}

/* Importante para uso da medida relativa REM */
html{font-size: 16px;}

body{
    font-family: "Noto Sans", sans-serif;
    color: var(--cor-texto);
}

img{max-width: 100%;}

a{text-decoration: none;}

h1{
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.5rem;
    
    /* Formatando o link dentro do h1 */
    a {
        background-color: var(--cor-escura);
        color: var(--cor-clara);
        padding: 0.3rem 1rem;
        border-radius: 4px;
    }
}

.topo {
    position: sticky;
    top: 0;
    background-color: var(--cor-clara);
 
    /* Regras específicas para classe limitador que está dentro do topo: além das configurações gerais , aqui também tem altura e ajustes do flex */
    
   .limitador{
        height: 12vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
}
}

/* Classe limitador de uso geral.
Sempre terá largura de 95vw e margin auto, não importando onde será aplicado */
.limitador {
    width: 95vw;
    margin: auto;
}

.titulo-menu a {
    color: var(--cor-escura);
    font-size: 1.2rem;
    padding: 1rem;
    display: inline-block;
}

.menu a:hover, .menu a:focus{
    background-color: var(--cor-intermediaria);
}

    /* Estilos para lista ul contido no menu nav */
.links-menu{
    /* Atenção! Neste ponto fazemos com que os links do menu iniciem escondidos (display: none) em telas pequenas. 
    Posteriormente, com a ajuda do CSS combinado com o JS, faremos os comandos necessários para exibir/esconder de forma alternada.*/
    display: none;

    a{
        color: var(--cor-escura);
        font-weight: bold;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
}
}

.links-menu.aberto{
/* Ativamos o flex para anular o display:none (fazendo oslinks aparecerem) e ao mesmo tempo ter os recursos do flex*/
    display: flex;

/* Mudamos a direção para coluna para voltar a exibir um link em cima do outro*/
    flex-direction: column;

/* Usamos o position e coordenadas para ajustar a posição final e o tananho que os links ocuparão na tela logo abaixo da palavra menu */
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--cor-clara);
}

/* Exercícios */

/* 
1) Crie uma regra específica para formatar o artigo "destaque' com as seguintes confirgurações::after
- Altura 88vh
- Imagem do fundo (fundo-destaque)
- Imagem de fundo deve ficar parada 
- Use o flex para alinhar totalmente o meio 
- Use o flex para garantir que os textos fiquem um em cima do outro

2) Crie uma regra para formatar o (h2) e o (p) contidos no "Destaque". Faça com que os textos fiquem contralizados e com a cor clara
*/

.destaque{
    height: 88vh;
    background-image: url(/imagens/fundo-destaque.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Ou usando: */
    /* flex-wrap: wrap;
    align-content: center; */
    
    h2, p {
        color: var(--cor-clara);
        text-align: center;
        
        /* Aplicação da animação */
        
        animation-duration: 0.5s;
        animation-name: animadestaque;
    }

    /* Usando a função clamp()
     Função útil para redimensionamento responsivo de acordo com critérios de tamanhos mínimo, ideal/variável/responsivo e máximo.
     
    clamp ()
        tamanho mínimo;
        tamanho ideal/variável/responsivo;
        tamanho máximo; */
    h2{ font-size: clamp(3rem, 10vw, 7rem); }

    p { 
        font-size: clamp(1.5rem, 3vw, 3rem); 
        animation-delay: 0.5s;
    /* Antes da animação (backwards): o elemento assume o estilo do primeiro keyframe (ou seja, do from). Portanto, assim, forçamos ele começar com opacity:0 e scale: 0.3 */
        animation-fill-mode: backwards;
    }
}

/* ANIMAÇÃO - @keyframes */

@keyframes animadestaque {
    from {
        opacity: 0;
        transform: scale(0.3);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

article {
    h2 {
        padding: 1rem;
        font-size: 1.4rem;
        font-family: Raleway, sans-serif;
        color: var(--cor-titulo);
    }
    p{
        padding: .5rem 0;
        font-size: 1.2rem;
    }

    address {
        font-style: normal;        
        font-size: 1.2rem;
    }
}

.front-end, .historia, .localizacao {
    text-align: center;
}

.historia {
    background-image: url(/imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;
    h2 {
        color: var(--cor-clara);
        text-shadow: var(--cor-escura) 1px 1px 3px ;
    }

    iframe {
        width: 100%;
        max-width: 700px;
        margin-bottom: 2rem;
    }
}

.localizacao {
    iframe {
        width: 100%;
        margin-top: 2rem;
    }
}

footer {
    background-color: var(--cor-escura);
    color: var(--cor-clara);
    text-align: center;
    font-style: 500;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* REGRAS PARA PAGINAS INTERNAS */
/* Prosutos, Serviços, Contatos  */

.conteudo-interno{
    background-color: var(--cor-intermediaria);
    padding: .5rem;
    border-radius: 8px ;

    h2{
        padding-left: 0;
        font-size: 1.8rem;
    }
}

table {
    border: black solid ;
    border-collapse: collapse;
    width: 80vw;
    max-width: 600px;
    font-size: .8rem;
    margin: auto;

    caption{
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: .4rem;
    }
        
    th{
        background-color: black;
        color: var(--cor-clara);
        padding: .5rem;    
    }

    td{
        border: solid .5px black;
        padding: .2rem;
    }

    td:nth-child(2){text-align: center;}
    
    td:last-child{text-align: right;}

    tr:nth-child(even) {
        background: lightgray;
    }
}
